.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.profile {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 64px;

}
.profileimg {
    width: 156px;
    height: 156px;
    border-radius: 16px;
    margin-bottom: 16px;
}
h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4E5150;
    margin-bottom: 8px;
}
.light-font {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin-bottom: 24px; 
}
.followers {
    max-width: 348px;
    width: 100%;
    display: flex;
    justify-content: space-between;  
     
}
.counter{
    max-width: 100px;
    width: 100%;
    background-color: #E5E5E5 ;
    text-align: center;
    border-radius: 12px;
    padding: 15px;
}
.count {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.gallery {    
    display: grid;
    grid-template-areas: "item1 item2 item2" "item3 item3 item4" "item5 item6 item4";
    gap: 24px;
    margin-top: 40px;
    
}
.photo1 {
    max-width: 299px;
    width: 100%;
    height: 299px;
    border-radius: 12px;
    grid-area: item1;
    
}

.photo2 {
    max-width: 629px;
    width: 100%;
    height: 299px;
    border-radius: 12px;

    grid-area: item2;
    
}
.photo3 {
    max-width: 627px;
    width: 100%;
    height: 299px;
    border-radius: 12px;
    grid-area: item3;
    
}
.photo4 {
    max-width: 297px;
    width: 100%;
    height: 630px;
    border-radius: 12px;
    grid-area: item4;
}
.photo5 {
    max-width: 299px;
    width: 100%;
    height: 299px;
    border-radius: 12px;
    grid-area: item5;
}
.photo6 {
    max-width: 299px;
    width: 100%;
    height: 299px;
    border-radius: 12px;
    grid-area: item6;
}

.copyright {
    margin-top: 134px;
    text-align: center;
    margin-bottom: 24px;
    
}

.copyright > p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #B9BDCF;
}

@media (max-width:375px) {
    .gallery {
        gap: 15px;
    }
}

